@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway-Regular.ttf);
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg text {
  font-size: 1.5em;
}

h2 {
  align-self: flex-start;
  margin-left: 3rem;
}

.sphere {
  fill: #2f2f7d;
}

.country {
  fill: olivedrab;
  stroke-width: 0.09px;
  stroke: gold;
}
.country2 {
  stroke-width: 0.09px;
  stroke: black;
}

.country:hover {
  fill: darkolivegreen;
}

.country2:hover {
  filter: sepia(0);
  stroke-width: 0.5px;
}

.link {
  fill: none;
  stroke: thistle;
  stroke-width: 0.5px;
}

.tree-text {
  text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    1px 1px 3px white;
  pointer-events: none;
}

.tick {
  cursor: pointer;
}

.tick text {
  font-size: 1em;
  fill: #635f5d;
  font-family: sans-serif;
}

.tick circle {
  stroke: black;
  stroke-opacity: 0.5;
}
