body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg text {
  font-size: 1.5em;
}

h2 {
  align-self: flex-start;
  margin-left: 3rem;
}

.sphere {
  fill: mediumblue;
}

.country {
  fill: olivedrab;
  stroke-width: 0.15px;
  stroke: gold;
}

.country:hover {
  fill: darkolivegreen;
}

.link {
  fill: none;
  stroke: thistle;
  stroke-width: 0.5px;
}

.tree-text {
  text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    1px 1px 3px white;
  pointer-events: none;
}
